#keywords thead tr th span 
{ 
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown 
{
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span 
{
  background-image: url('up-arrow-w.png');
  background-position: right;
}

#keywords thead tr th.headerSortDown span 
{
  background-image: url('down-arrow-w.png');
  background-position: right;
}

