body {
	padding: 0;
	background-image: url("../images/mru_wallpaper_1920x1200-138k.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: #021d3a;
	margin: 0;
}

label {
	font-weight: 500;
}

textarea {
    resize: none;
}

.relative {
	 display:block;
}
.bold {
	font-weight: bold;
}

.fullWidth {
	width: 100%;
	min-width: 25px;
}

.noPadding {
	padding: 0;
}

.noRightPadding {
	padding-right: 0;
}

.noMargins {
	margin: 0;
}

.noTopMargin {
	margin-top: 0;
}

.noTopPadding {
	padding-top: 0;
}

.noLeftRightPadding {
	padding-left: 0;
	padding-right: 0;
}

.medPadding {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.topMenuShrunkPadding {
	padding-left: 0px;
	padding-right: 0px;
}

.noBackground {
	background: transparent;
}

.roundCorners {
	border-radius: 4px;
}

.navbar > .container .navbar-brand {
	margin-left: 0;
}

/*Overwrite for h1 tags on createRequest*/
.createReqTag {
	font-size: 25px;
}

@media screen and (min-width: 768px) {
	.jumbotron h1 {
					font-size: 25px;
				  }
}

@media screen and (min-width: 768px) {
	.container .jumbotron {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.inputChoice {
	font-size: 15px;
}

.orangeText {
	color: #f0ad4e;
}

@media screen and (max-width: 991px){.requestName{display:none;}}

@media screen and (max-width: 660px){.requestCreation{display:none;}}

@media screen and (max-width: 466px){.requestState{display:none;}}

@media screen and (max-width: 551px){.requestTitle{display:none;}}

@media (min-width: 768px) {#maxSearchWidth {max-width: 150px;}}

@media screen and (max-width: 1200px){.smallTopMargin{margin-top: 10px;}}

.alertBox {
	display: block;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

.searchColour {
	color: #5bc0de;
}

.invisible {
	display: none;
}

.rightButton {
	display: block;
	float: right;
}

.leftButton {
	display: block;
	float: left;
}

.formPagingButtonPadding {
	margin-top: 15px;
}

.clearAll {
	clear: both;
}





.noListStyle {
	list-style-type: none;
}

/* News */
.news-slider {
  /* Style the actual content */
}
.news-slider .text-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.news-slider .text-content h2 {
  margin: 0;
}
.news-slider .text-content p {
  margin: 1em 0;
}
.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.news-slider .image-content {
  line-height: 0;
}
.news-slider .image-content img {
  max-width: 100%;
}
.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.2em 0 0;
  padding: 0;
  list-style: none;
}
.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
  color: #31ace2;
}
.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #222;
}